<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CGI - Outil de chiffrage</title>

    <div th:replace="fragments/header :: header-css"></div>

</head>
<body>
	<div th:replace="fragments/header :: header" ></div>
	<nav th:replace="fragments/navigation :: navigation" ></nav>
	<div th:replace="account/fragments/accountNav.html :: accountNav" ></div>
	
	<div id="content" class="container">
		<div class="row">
			<div id="succesDiv" class="alert-success alert d-none" >Le mot de passe a été correctement modifié.</div>
		</div>
		<div class="row">
		
			<form method="POST" th:action="@{/mon-compte/password/change/}">
				<label for="previousPwd">Votre mot de passe actuel :</label>
				<input class="form-control" id="previousPwd" type="password" name="previousPwd" required/>
				<div id="previousPwdFeedBack" class="invalid-feedback"></div>
				
				<label for="newPwd1">Votre nouveau mot de passe :</label>
				<input class="form-control" id="newPwd1" type="password" name="newPwd1" required/>
				<div  id="newPwd1FeedBack" class="invalid-feedback"></div>
        
				<label for="newPwd2">Confirmation du nouveau mot de passe :</label>
				<input class="form-control" id="newPwd2" type="password" name="newPwd2" required/>
				<div   id="newPwd2FeedBack" class="invalid-feedback"></div>
        		
				<button class="btn btn-primary" type="submit" id="sendNewPwdBtn">Valider</button>
			</form>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>
	<script type="text/javascript" th:src="@{/js/account.js}"></script>
</body>
</html>