<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CGI - Outil de chiffrage</title>

    <div th:replace="fragments/header :: header-css"></div>

</head>
<body>
	<div th:replace="fragments/header :: header" ></div>
	<nav th:replace="fragments/navigation :: navigation" ></nav>
	
	<div id="content" class="container">
		<div class="row">
		
		
			<div id="block-1" class="home-block col-sm-6 col-md-6 col-lg-6 col-xl-6">
				<div class="card">
					<div class="card-header">Bloc 1</div>
					<div class="card-body home-table">
						<div class="table-responsive home-table">
							<table class="table table-striped table-sm">
								<thead>
									<tr>
										<th scope="col">Username</th>
										<th scope="col">Date registered</th>
										<th scope="col">Role</th>
										<th scope="col">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Donna R. Folse</td>
										<td>2012/05/06</td>
										<td>Editor</td>
										<td><span class="badge badge-success">Active</span></td>
									</tr>
									<tr>
										<td>Emily F. Burns</td>
										<td>2011/12/01</td>
										<td>Staff</td>
										<td><span class="badge badge-important">Banned</span></td>
									</tr>
									<tr>
										<td>Andrew A. Stout</td>
										<td>2010/08/21</td>
										<td>User</td>
										<td><span class="badge">Inactive</span></td>
									</tr>
									<tr>
										<td>Mary M. Bryan</td>
										<td>2009/04/11</td>
										<td>Editor</td>
										<td><span class="badge badge-warning">Pending</span></td>
									</tr>
									<tr>
										<td>Mary A. Lewis</td>
										<td>2007/02/01</td>
										<td>Staff</td>
										<td><span class="badge badge-success">Active</span></td>
									</tr>
									<tr>
										<td>Donna R. Folse</td>
										<td>2012/05/06</td>
										<td>Editor</td>
										<td><span class="badge badge-success">Active</span></td>
									</tr>
									<tr>
										<td>Emily F. Burns</td>
										<td>2011/12/01</td>
										<td>Staff</td>
										<td><span class="badge badge-important">Banned</span></td>
									</tr>
									<tr>
										<td>Andrew A. Stout</td>
										<td>2010/08/21</td>
										<td>User</td>
										<td><span class="badge">Inactive</span></td>
									</tr>
									<tr>
										<td>Mary M. Bryan</td>
										<td>2009/04/11</td>
										<td>Editor</td>
										<td><span class="badge badge-warning">Pending</span></td>
									</tr>
									<tr>
										<td>Mary A. Lewis</td>
										<td>2007/02/01</td>
										<td>Staff</td>
										<td><span class="badge badge-success">Active</span></td>
									</tr>
									<tr>
										<td>Donna R. Folse</td>
										<td>2012/05/06</td>
										<td>Editor</td>
										<td><span class="badge badge-success">Active</span></td>
									</tr>
									<tr>
										<td>Emily F. Burns</td>
										<td>2011/12/01</td>
										<td>Staff</td>
										<td><span class="badge badge-important">Banned</span></td>
									</tr>
									<tr>
										<td>Andrew A. Stout</td>
										<td>2010/08/21</td>
										<td>User</td>
										<td><span class="badge">Inactive</span></td>
									</tr>
									<tr>
										<td>Mary M. Bryan</td>
										<td>2009/04/11</td>
										<td>Editor</td>
										<td><span class="badge badge-warning">Pending</span></td>
									</tr>
									<tr>
										<td>Mary A. Lewis</td>
										<td>2007/02/01</td>
										<td>Staff</td>
										<td><span class="badge badge-success">Active</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>


			<div id="block-2" class="home-block col-sm-6 col-md-6 col-lg-6 col-xl-6">
				<div class="card">
					<div class="card-header">Bloc 2</div>
					<div class="card-body home-table">
						<div class="table-responsive home-table">
							<table class="table table-striped table-sm">
								<thead>
									<tr>
										<th scope="col">Username</th>
										<th scope="col">Date registered</th>
										<th scope="col">Role</th>
										<th scope="col">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Donna R. Folse</td>
										<td>2012/05/06</td>
										<td>Editor</td>
										<td><span class="badge badge-success">Active</span></td>
									</tr>
									<tr>
										<td>Emily F. Burns</td>
										<td>2011/12/01</td>
										<td>Staff</td>
										<td><span class="badge badge-important">Banned</span></td>
									</tr>
									<tr>
										<td>Andrew A. Stout</td>
										<td>2010/08/21</td>
										<td>User</td>
										<td><span class="badge">Inactive</span></td>
									</tr>
									<tr>
										<td>Mary M. Bryan</td>
										<td>2009/04/11</td>
										<td>Editor</td>
										<td><span class="badge badge-warning">Pending</span></td>
									</tr>
									<tr>
										<td>Mary A. Lewis</td>
										<td>2007/02/01</td>
										<td>Staff</td>
										<td><span class="badge badge-success">Active</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			
			<div id="block-3" class="home-block col-sm-6 col-md-6 col-lg-6 col-xl-6">
				<div class="card">
					<div class="card-header">Bloc 3</div>
					<div class="card-body home-table">
						<div class="table-responsive home-table">
							<table class="table table-striped table-sm">
								<thead>
									<tr>
										<th scope="col">Username</th>
										<th scope="col">Date registered</th>
										<th scope="col">Role</th>
										<th scope="col">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Donna R. Folse</td>
										<td>2012/05/06</td>
										<td>Editor</td>
										<td><span class="badge badge-success">Active</span></td>
									</tr>
									<tr>
										<td>Emily F. Burns</td>
										<td>2011/12/01</td>
										<td>Staff</td>
										<td><span class="badge badge-important">Banned</span></td>
									</tr>
									<tr>
										<td>Andrew A. Stout</td>
										<td>2010/08/21</td>
										<td>User</td>
										<td><span class="badge">Inactive</span></td>
									</tr>
									<tr>
										<td>Mary M. Bryan</td>
										<td>2009/04/11</td>
										<td>Editor</td>
										<td><span class="badge badge-warning">Pending</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			
			<div id="block-4" class="home-block col-sm-6 col-md-6 col-lg-6 col-xl-6">
				<div class="card">
					<div class="card-header">Bloc 4</div>
					<div class="card-body home-table">
						<div class="table-responsive home-table">
							<table class="table table-striped table-sm">
								<thead>
									<tr>
										<th scope="col">Username</th>
										<th scope="col">Date registered</th>
										<th scope="col">Role</th>
										<th scope="col">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Donna R. Folse</td>
										<td>2012/05/06</td>
										<td>Editor</td>
										<td><span class="badge badge-success">Active</span></td>
									</tr>
									<tr>
										<td>Emily F. Burns</td>
										<td>2011/12/01</td>
										<td>Staff</td>
										<td><span class="badge badge-important">Banned</span></td>
									</tr>
									<tr>
										<td>Andrew A. Stout</td>
										<td>2010/08/21</td>
										<td>User</td>
										<td><span class="badge">Inactive</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

	
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>